
@{
    Layout = null;
    // ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/_dist/styles.css" rel="stylesheet">
</head>
<body>
    <h1>This is the entry page</h1>
    <div id="fillthis"></div>
    <div id="fillthisjq"></div>
    <div id="fillthises6code"></div>

    <script src="~/_dist/bundle.js"></script>
    <script src="~/_dist/1.bundle.js"></script>
</body>
</html>